In [61]:
import pandas as pd
import numpy as np
import spacy
import matplotlib.pyplot as plt
fp = '/home/prp1277/Github-Repos/reddit-data/docs/rSlashExcel.csv'

In [63]:
df1 = pd.read_csv(fp)
df1.head()

,id,Index,Source.Name,link_flair_text,score,url,text,title
0,fv4t4z,3693,4/5/2020,unsolved,1,https://www.reddit.com/r/excel/comments/fv4t4z...,i have two rows with names (over 4k names) and...,i need a formula to compare one row with another.
1,fv4uem,3694,4/5/2020,unsolved,1,https://www.reddit.com/r/excel/comments/fv4uem...,"hi, i am an accountant. i am currently doing a...",how to perform conditional sorting
2,fv5gjb,3697,4/5/2020,unsolved,1,https://www.reddit.com/r/excel/comments/fv5gjb...,ok say for example these are my january and fe...,how to adjust utility expenses in excel
3,fv6mul,3701,4/5/2020,unsolved,1,https://www.reddit.com/r/excel/comments/fv6mul...,trying to create a conditional formating that ...,highlight unique part numbers that are not in ...
4,fvblyy,3706,4/5/2020,unsolved,1,https://www.reddit.com/r/excel/comments/fvblyy...,"hi, i search so much in the internet to summ...",sum and subtracting between multiple sheets in...

In [64]:
df1.describe()

             Index        score
count  4571.000000  4571.000000
mean   2071.854518    10.974185
std    1125.210476    37.187369
min       1.000000     0.000000
25%    1097.500000     1.000000
50%    2151.000000     2.000000
75%    3160.000000     6.000000
max    3707.000000   671.000000

In [65]:
df1.dtypes

id                 object
Index               int64
Source.Name        object
link_flair_text    object
score               int64
url                object
text               object
title              object
dtype: object

In [66]:
df1["text"]

0       i have two rows with names (over 4k names) and...
1       hi, i am an accountant. i am currently doing a...
2       ok say for example these are my january and fe...
3       trying to create a conditional formating that ...
4       hi,  i search so much in the internet  to summ...
                              ...
4566    im giving a pivottable and vlookup training so...
4567    ...in which two people will get the same quest...
4568    hi all,  i have a database of around 10,000 us...
4569    id like to write a macro that creates a note a...
4570    i want the macro to clear all filters on the t...
Name: text, Length: 4571, dtype: object

In [67]:
dfString = pd.Series(df1["text"])

## Strip, lowercase and replace whitespace with underscores: 

> [Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#text)

`df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')`

In [68]:
idx = pd.Index(dfString[1:]) # first row was 'selftext'
idx.str.strip().str.replace(r'`','')
#idx.str.replace(r'\`','')
idx[4:8]

Index(['ive tried making my own formula, then i tried the internet formulas, but i cant get everything straightened out.  workbook: [**doc v3.xlsx**](https://drive.google.com/open?id=1br6b411-g5pifo68hhzkdwv_szywlewp)  the relevant information is in yellow or orange colored cells, and most of the workbook has been trimmed down for sensitivity reasons. given the isbn for a book, i need to determine how many of each book a particular business has purchased. the isbns duplicate frequently.  currently i have a helper column with the following formula: =ms - e!f3+rows($1:1)\*10\^-4  it uses the isbns as a reference from the second tab.  my primary formula is: =iferror(if(left(index(ms - e!$d$3:$d$2923,match(large($a$3:$a$2923,rows($1:1)),$a$3:$a$2923,0)),10)=left($d5,10),sum(indirect(h &amp; match(large($a$3:$a$2923,rows($1:1)),$a$3:$a$2923,0) &amp; :l &amp; match(large($a$3:$a$2923,rows($1:1)),$a$3:$a$2923,0))),),)  it uses the business names on the second tabs in the index formula, then uses match on the data in the helper column. the problem is, it seems to be pretty sporadic in which business it chooses with the large formula. if it matches the business name on the first tab, then the sum &amp; indirect formulas work together to sum up the number of books purchases, but there is a problem there as well. the two matches in the sum formula match the same row, but i need them to cover a range, if possible. i think that part might work if i change the second match to use a small formula instead, but i still have to get the first half of the formula working to consider that issue.&amp;#x200b;this is cross-posted here: [excel boards](https://www.mrexcel.com/board/threads/index-match-formula-help-with-duplicates.1129699/)',
       'im looking to enter a unique id which will pull data off the rows of the unique id of another workbook and then place them in the workbook for calculation. does anyone have any idea on how to achieve this or get started? im thinking a python script would do this? i have attached a screenshot of an example of what i am trying to accomplish. https://imgur.com/twoby2j',
       'this question is regarding a google spreadsheet and not an excel one, i didnt see a rule directly against this and im having trouble getting any replies in other subreddits.im making a chart for the fish available in the new animal crossing game to make it easier for people to track what fish are available and which they have already caught. i have the fish split into the three different places they can be caught and further split into each month and which ones will be available then. i have one long list of all fish on the side to make it easier to mark them off when caught. but i would like to make it so when you mark a fish off in the long list, it will also mark the fish off in every month it appears.ex: anchovy appears in the sea pool all year long (jan-dec.) i want a user to only have to place a check on the long right-most list, and for the x boxes next to the anchovy in each month to be automatically updated to the same check. this way, users only have to check one box instead of 13. preferably id like the green cell color to also be copied, but its not the end of the world if its just the text[https://docs.google.com/spreadsheets/d/1qubpks6d8jo0l89su76kgkwzjgavnsfa5ri7b3jtkta/edit?usp=sharing](https://docs.google.com/spreadsheets/d/1qubpks6d8jo0l89su76kgkwzjgavnsfa5ri7b3jtkta/edit?usp=sharing)let me know if you have any clarifying questions because im sure this couldve been asked better.',
       'i am currently trying to have my macro, which is the following: &amp;#x200b;  range(k3).selectactivecell.formular1c1 = =datevalue(left(r\[4\]c\[-10\],6))range(k3).selectselection.numberformat = m/d/yyrange(l3).selectactivecell.formular1c1 = =right(r\[4\]c\[-11\], len(r\[4\]c\[-11\])-13)range(m3).selectactivecell.formular1c1 = =r\[6\]c\[-12\]&amp;#x200b;run down the column (a). as it goes down the column, i want to make sure it runs on the right rows. for example, the first two actions are on row 1, while the third action is on row 3. i want to make sure it keeps going down by the appropriate number of rows. &amp;#x200b;does this make sense? is it possible?'],
      dtype='object', name='text')

In [83]:
some_number = np.random.randint(0,4570)

In [84]:
json_df = pd.read_json('/home/prp1277/Github-Repos/reddit-data/docs/rSlashExcel.json')
json_df["text"][some_number]

'hey everyone,i have a few columns that i am combining using &amp; as well as a separator (|). however, when i combine my column with the date, it changes to a string. for example, 11/9/2019 will become 43778. is there a way to make sure that it stays in the format of 11/9/2019 so that it looks like candy|11/9/2019|ect.? thank you.'